/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }*/

*{
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; 
}

body{
	margin: auto;
	width: 1000px;
	background-color: #CDCBBA;
}

.clear{
	clear: both;
}
.block-bg{
	background-color: #ffffff;
}

.heard {
	height: auto;
	padding-bottom: 5px;
}
.heard-logo,.heard-menu,.slideshow,.content,.foot-content,.foot-about {
	margin: 0 15px;
}
.heard-top {
	background: #ba2e1f;
	height: 35px;
}
.heard-top .sign-up{
	float: left;
	margin-left: 15px;
	margin-top: 5px;
}
.heard-top .sign-up a{
	text-decoration: none;
	color: #fff;
	border-right: 1px solid #fff;
	padding: 0 10px;
}
.heard-top .sign-up a:hover{
	color: #1E90FF;
}
.heard-top .sign-up .last{
	border: 0px;
}
.heard-top .search{
	float: right;
	margin-right: 15px;
	margin-top: 3px;
	background: #fff;
	padding: 1px 1px 1px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.heard-top .search #searchbtn{
	background: url("image/search1.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 26px;
}
.heard-top .search input{
	border: 0px;
	width: 200px;
}
.heard-logo {
	height: 105px;
}
.logo{
	width: 210px;
	height: 100%;
	float: left;
	background: url("image/logo.png");
	background-repeat: no-repeat;
}

.icon{
	width: auto;
	height: 100%;
	float: right;
}

ul.nav-social{
	list-style-type: none;
	float: right;
}

.icon ul.nav-social li{
	float: left;
	padding: 0;
	margin: 40px 3px;
	width: 32px;
	height: 32px;
}

.icon ul.nav-social li a.social-link{
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}

.icon ul.nav-social li a.icon-facebook{
	background: url("image/fb.png");
}
.icon ul.nav-social li a.icon-twitter{
	background: url("image/twitter.png");
}
.icon ul.nav-social li a.icon-googleplus{
	background: url("image/googleplus.png");
}
.icon ul.nav-social li a.icon-linkedin{
	background: url("image/linkedin.png");
}
.icon ul.nav-social li a.icon-pinterest{
	background: url("image/pinterest.png");
}
.icon ul.nav-social li a.icon-rss{
	background: url("image/rss.png");
}


.heard-menu {
	background: url("image/menu_bg.gif") repeat-x;
	height: 40px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.heard-menu li{
	display: block;
    float: left;
    height: 40px;
    line-height: 37px;
    margin-right: 35px;
}
.heard-menu li:first-child{
	margin-left: 30px;
}
.heard-menu li a{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
}
.heard-menu li a:hover{
	color: #ba2e1f;
}
.body {
	height: auto;
	padding-top: 20px;	
}
.slideshow {
	background: #fff;
	height: auto;
	margin: 0px;
	width: 100%;
}

.slideshow .slideshow-img {
	float: left !important;
	display: inline-block;
	background: url("image/400x440.png");
	width: 400px;
	height: 440px;
	float: left;
	margin-left: 15px;
	
}
.slideshow .slideshow-content {
	display: inline-block;
    float: right;
    height: 55%;
    margin-left: 40px;
    margin-top: 75px;
    width: 54%;
}
.slideshow .slideshow-content h1{
	font-size: 68pt;
}
.slideshow .slideshow-content .read-more{
	display: block;
	margin-top: 25px;
	text-align: right;
	padding-right: 30px;
}
.slideshow .slideshow-content .read-more a{
	color: #d1756b;
    text-decoration: none;
    text-transform: uppercase;
}
.slideshow .slideshow-content span{
	color: #9D9D9D;
}
h1{
	font-size: 60px;
	text-transform: uppercase;
	text-align: left;
}

.content {
	background: none repeat scroll 0 0 #f1f0f0;
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
}
.content .content-1, .content-2, .content-3{
	padding: 10px 0 0 0;
}
.content h2{
	font-size: 24px;
	text-transform: capitalize;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 40px;
}
.content .content-1 {	
	float: left;
    height: auto;
    padding-left: 15px;
    width: 31%;
}
.content .content-1 img{
	width: 290px;
	height: 140px;
	background: url("image/290x140.png");
}
.content .content-2 {	
	float: left;
    height: auto;
    padding-left: 25px;
    width: 31%;
}
.content-2 .content-2-div{
	width: 100%;
	height: 64px;
	margin-bottom: 20px;
	float: left;
}
.content-2 .content-2-content{
	float: left;
}
.content-2-content,.content-3-div h3{
	text-transform: capitalize;
	font-weight: bold;
	font-size: 16px;
	color: #5E5B5B;
}
.content-2-div .content-2-image{
	width: 64px;
	height: 100%;
	background: url("image/64x64.png");
	margin-right: 10px;
	float: left;
}
.content .content-3 {
	float: right;
    height: auto;
    padding-right: 15px;
    width: 31%;
}
.content-3 .content-3-div{
	width: 100%;
	height: 150px;
	margin-bottom: 20px;
}
.content-3 .content-3-div .content-3-div-title{
	height: 50px;
}
.content-3 .content-3-div .content-3-div-title img{
	float: left;
}
.content-3 .content-3-div h3{
	line-height: 50px;
}
.body .read-more{
	display: block;
	margin-top: 25px;
	text-align: right;
	padding-right: 30px;
}
.body .read-more a{
	color: #d1756b;
    text-decoration: none;
    text-transform: capitalize;
}
.foot {
	height: 400px;
	background: #fff;
}
.foot-content-1, .foot-content-2, .foot-content-3, .foot-content-4{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 22%;
	float: left;
}
.foot-content-2, .foot-content-3{
	margin-left: 40px;
}
.foot-content-4{
	float: right;
}
.foot-content .foot-content-hr{
	border-top: 1px solid;
	margin: 15px 0;
}
.foot-content .foot-content-title{
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.foot-content .foot-content-1-content span{
	color: red;
}
.foot-content .foot-content-2-content{
	border-bottom: 1px solid #B6B7BB;
	height: 30px;
	line-height: 30px;
}
.foot-content-3 .foot-content-3-div{
	margin-bottom: 15px;
}
.foot-content-3 .foot-content-3-div-heard{
	margin-bottom: 15px;
}
.foot-content-3 .foot-content-3-div-heard-title{
	font-size: 15px;
	text-transform: capitalize;
}
.foot-content-3 .foot-content-3-div-heard-content{
	font-size: 11px;
}
.foot-content-3 .foot-content-3-div-heard-content span{
	color: red;
}
.foot-content-4 input{
	border: none;
	border-radius: 4px;
	padding: 5px;
}
.foot-content-4 input[type="text"]{
	background-color: #E8E9EC;
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
}
.foot-content-4 textarea{
	background-color: #E8E9EC;
	width: 100%;
	margin-bottom: 10px;
}
.foot-content-4 input[type="submit"]{
	background-color: #E8E9EC;
	color: red;
	font-style: inherit;
	text-transform: uppercase;
	padding: 6px 10px;
}
.foot-about{
	margin: 0;
	background: #CCC;
	height: 50px;
}
.foot-about div{
	float: left;
	line-height: 50px;
	color: #757880;
}
.foot-about .foot-about-copy-right{
	margin-left: 15px;
}
.foot-about .foot-about-by{
	float: right;
	margin-right: 15px;
}